<h1>Admin</h1>

<span (click)= 'listAllUsers()'>List all Users</span>
<span (click)= 'listAllDogs()'>List all Dogs</span>

<div *ngIf='users && !dogs'>
  <ul>
    <li *ngFor='let user of users'><a (click)='selectUserDetailView'>{{user.username}}</a></li>
  </ul>
</div>
<div *ngIf='userDetailView && !dogDetailView'>
    <button *ngIf='user.active' type="button" (click)="deactivateUser()" class='btn btn-outline-primary'>De-Activate</button>
    <button *ngIf='!user.active' type="button" (click)="activateUser()" class='btn btn-outline-primary'>Re-Activate</button>
</div>
<div *ngIf='!users && dogs'>
  <ul>
    <li *ngFor='let dog of dogs'><a (click)='selectDogDetailView()'>{{dog.name}}</a></li>
  </ul>
</div>
<div *ngIf='!userDetailView && dogDetailView'>
    <button *ngIf='dog.active' type="button" (click)="deactivateDog()" class='btn btn-outline-primary'>De-Activate</button>
    <button *ngIf='!dog.active' type="button" (click)="activateDog()" class='btn btn-outline-primary'>Re-Activate</button>
    <button *ngIf='dog.banned' type="button" (click)="unban()" class='btn btn-outline-primary'>Unban</button>
    <button *ngIf='!dog.banned' type="button" (click)="ban()" class='btn btn-outline-primary'>Ban</button>
</div>
