<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
  <ngb-panel title="Messages">
    <ng-template ngbPanelContent>
      <div class='messages' #scrollMe [scrollTop]="scrollMe.scrollHeight">
        <div class='overflow'>

          <div *ngFor="let message of convo">
            <div [ngClass]="setMessageStyle(message.thisDog.id)">
              <p>{{ message.text }}</p>
                <hr>
            <p>-{{ message.thisDog.name }}:
              {{ message.date | date }}</p>
            </div>
          </div>
        </div>
      </div>
      <form>
        <input type="text" name="text" [(ngModel)]="text" />
        <button type="button" class="btn btn-outline-success" (click)="addMessage()">
          Send
        </button>
      </form>
    </ng-template>
    </ngb-panel>
</ngb-accordion>
