<!-- <div *ngIf="!user & dogs">
  <h1>Homepage {{dogs.length}}</h1>
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" >
      <div class="carousel-inner" >
        <div class="carousel-item active" *ngFor="let dog of dogs">
          <img [src]="dog.photos[0].url" class="d-block w-100" alt="dog.name">
          <div class="carousel-caption d-none d-md-block">
            <h5>{{dog.name}}</h5>
            <p>{{dog.about}}</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
<div class="bd-example"*ngIf="user">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" >
      <div class="carousel-inner" >
        <div class="carousel-item active" *ngFor="let dog of possibleMatches">
          <img [src]="dog.photos[0].url" class="d-block w-100" alt="dog.name">
          <div class="carousel-caption d-none d-md-block">
            <h5>{{dog.name}}</h5>
            <p>{{dog.about}}</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Nope</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Let's Make Puppies</span>
      </a>
    </div>
  </div> -->

  {{ dogs.length }}
  {{ dogs[0].name }}
  <ul>
    <li *ngFor="let dog of dogs"> {{ dog.name}} </li>
  </ul>
