 /* body {
   min-width: 100%;
   min-height: 100%;
 } */

 .carousel {
  min-width: 100%;
 }

.btn {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  background-color: #3d0080;
  border-color: #3d0080;
  outline: #3d0080;
}

#sideBorder {
  background-image: url("../../../assets/logo/borderDesign2.jpg")
}

