img {
  width: 50%;
  height: 50%;
  background-repeat: no-repeat;
  margin-left: 25%;
  float: center;
}

/* .carousel-control-next-icon {
  background-image:
} */

.message {
  margin: 10px;
  margin-top: 30px;
  margin-left: 75%;
  max-width: 25%;
  padding: 0%;
  position: fixed;
  float: right;
  bottom: 0;
  z-index: 1;
}

.profile {
  margin: 30px;
  margin-left: 50px;
  /* border: solid;
  border-width: medium; */
  background-color: rgba(51, 51, 51, .1);
  /* display: inline-block; */
  /* float: right; */
}

h3 {
  font-family: 'Source Sans Pro', sans-serif;
}

.about {
  font-family: 'Questrial', sans-serif;
}

i.fas {
  color: #3d0080;
}
