img {
  width: 80%;
  height: 600px;
  background-repeat: no-repeat;
  margin-left: 10%;
}

/* .carousel-control-next-icon {
  background-image:
} */
ngb-carousel {
  content: center;
}
.col {
  margin: none;
  padding: none;
}

