<div [ngStyle]="{background: 'url(../../../assets/photos/greenGrass.jpg)'}">
  <div class="container">


    <div class="row">
      <div class="col-sm-5"></div>

      <div class="registerDiv">
        <h1>Register a Dog</h1>
    <form >
        <table class="table table-striped">
          <tbody>

            <tr>
             <td> Name:</td>
              <td><input type='text' name='username' [(ngModel)]='dog.name'/></td>
            </tr>
            <tr>
              <td>Breed:</td>
              <td><input type='text' name='password' [(ngModel)]='dog.breed'/></td>
            </tr>
            <tr>
              <td>Weight:</td>
              <td><input type='number' name='weight' [(ngModel)]='dog.weight'/></td>
          </tr>
          <tr>
            <td>Energy Level (1-10):</td>
            <td><input type='number' name='energy' [(ngModel)]='dog.energy'/></td>
          </tr>
          <tr>
            <td>Age:</td>
            <td><input type='number' name='age' [(ngModel)]='dog.age'/></td>
          </tr>
          <tr>
            <td>Gender:</td>
            <td>Male: <input type='radio' name='sex' value='Male' [(ngModel)]='dog.sex'/>
              Female: <input type='radio' name='sex' value='Female' [(ngModel)]='dog.sex'/> </td>
          </tr>
          <tr>
            <td>About:</td>
            <td><input type='text' name='about' [(ngModel)]='dog.about'/></td>
          </tr>
          <tr>
            <td>Profile Picture URL:</td>
            <td><input type='text' name='url' [(ngModel)]='photo.url'/></td>
          </tr>
        </tbody>
      </table>
      <input type='submit' (click)='addDog()' value='Register'>
    </form>
  </div>
  </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  <br>
  <br>
  </div>
  </div>

