
.carousel-inner {
  max-height: 100%;
}

.carousel-caption {
  padding-bottom: 400px;
}

.btn {
  background-color: #3d0080;
  border-color: #3d0080;
  color: white;
}

h2 {
  font-family: 'Encode Sans Condensed', sans-serif;
  font-size: 55px;
}

h3 {
  font-family: 'Saira Extra Condensed', sans-serif;
}

img {

}
