
  <!-- <ngb-carousel >
   <ng-template *ngFor="let dog of dogs" ngbSlide>
     <img [src]="dog.photos[0].url" alt="" class='dogImage' >
     <div class="carousel-caption">
       <h3>{{dog.name}}</h3>
     </div>
   </ng-template>
   </ngb-carousel> -->
   <ngb-carousel >
      <ng-template ngbSlide>
        <img [src]="images[0]" height="900px" alt="Random first slide">
        <div class="carousel-caption">
          <h3>Puppy Love</h3>
          <p>This carousel uses customized default values.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img [src]="images[1]" height="900px" alt="Random second slide">
        <div class="carousel-caption">
          <h3>Dogs Love Too</h3>
          <p>This carousel doesn't pause or resume on mouse events</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img [src]="images[2]" height="900px"  alt="Random third slide">
        <div class="carousel-caption">
          <h3>More Pups, Less Worries</h3>
          <p>This carousel uses customized default values.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img [src]="images[3]" height="900px" alt="Random fourth slide">
        <div class="carousel-caption">
          <h3>Find Love</h3>
          <p>This carousel uses customized default values.</p>
        </div>
      </ng-template>
    </ngb-carousel>
