
  <!-- <ngb-carousel >
   <ng-template *ngFor="let dog of dogs" ngbSlide>
     <img [src]="dog.photos[0].url" alt="" class='dogImage' >
     <div class="carousel-caption">
       <h3>{{dog.name}}</h3>
     </div>
   </ng-template>
   </ngb-carousel> -->
   <ngb-carousel >
      <ng-template class="photo" ngbSlide>
        <img [src]="images[0]" height="900px"  alt="Random first slide">
        <div class="carousel-caption">
          <h2>More Pups, Less Worries</h2>
          <h3>Find a Play Pal</h3>
          <button class="btn btn-primary"  type="button" [routerLink]="['/register']" type="submit" >Register</button>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img [src]="images[1]" height="900px"  alt="Random second slide">
        <div class="carousel-caption" id="two">
          <h2 class="header-image-two">Dogs Love Too</h2>
          <h3>Find a Partner For Your Partner</h3>
          <button class="btn btn-primary" type="button" [routerLink]="['/register']" type="submit" >Register</button>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img [src]="images[2]" height="900px" alt="Random third slide">
        <div class="carousel-caption">
          <h2>Puppy Love</h2>
          <h3>Help Them Find a Life-Long Friend</h3>
          <button class="btn btn-primary" type="button" [routerLink]="['/register']" type="submit" >Register</button>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img [src]="images[3]" height="900px"  alt="Random fourth slide">
        <div class="carousel-caption">
          <h2>Find Love</h2>
          <h3>Life is Better in Pairs</h3>
          <button class="btn btn-outline-primary" type="button" [routerLink]="['/register']" type="submit" >Register</button>
        </div>
      </ng-template>
    </ngb-carousel>
