/* .container {
  background-color: #b6e0ec
} */

app-matches {
  align-content: center;
}

#box{
  background-color: #C8B8FA;
  margin: 10px;
  padding: 10px;
  border: medium;
  border-color: #40364a;
  color: #40364a;
  border-radius: 15px;

}

#element{
  /* background-color: #cdc5e2; */
  margin: 0 auto;
  padding: 10px
}

#thumbnail {
  max-height: 45px;
  max-width: 45px
}

/* table{
  margin: 0 auto;
} */

ul {
  list-style-type: none;
  padding-left: 0px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin: 10px;
}

body {
  background-color: #f3effe
}
td {
  margin-left: 5%;
  margin-right: 5%;
}

.rightTable {
  text-align: right;
}
#element .profilePic {
  max-width: 98%;
  min-width: 95%;
  max-height: 25%;

}


/* C8B8FA */
