<div class="container">
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
    <h3 id="about">About</h3>
    <br>
    <p>Welcome to Doggle! Doggle is a matching service for people who want to find dogs for their dogs to play with, and in the process become friends or possibly even more with their owners as well!</p>
    <br>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
    <p>We created this website as our final project for Skill Distillery's 16 week Java Web Development course. Please visit our github repository for more information on our project: <a href="https://github.com/braidenm/FinalProject" ><strong>Repository</strong></a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <br>
      <br>
      <h3 id="about">Created By:</h3>
      <br>
      <br>
      <br>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4" >
    <img src="https://i.pinimg.com/736x/70/24/d5/7024d50af95eaf03f3ac86ef17d8febc.jpg" width="250" height="250">
    <br>
    <strong>Jimmy Fruchterman</strong>
    <br>
    <span>DBA, </span>
    </div>
    <div class="col-sm-4">
    <img src="https://i.pinimg.com/originals/f4/a9/1c/f4a91c2267d1657a1d2dc9a5dcc1e464.jpg" width="250" height="250">
    <br>
    <strong>Braiden Miller</strong>
    <br>
    <span>Repository Owner, now with two working legs! </span>
    </div>
    <div class="col-sm-4">
    <img src="http://www.comedycentral.co.uk/sites/default/files/styles/image-w-520-h-520-scale/public/cc_uk/galleries/large/2017/01/10/ross_finds_out_rachel_pregnant.jpg?itok=gYlbc7Cn" width="250" height="250">
    <br>
    <strong>Michael Murrell</strong>
    <br>
    <span>Scrum Master, anyone need to buy a van? </span>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
