<div class="container">
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
    <h3 id="about">About</h3>
    <br>
    <p>Welcome to Doggle! Doggle is a matching service for people who want to find dogs for their dogs to play with, and in the process become friends or possibly even more with their owners as well!</p>
    <br>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
    <p>We created this website as our final project for Skill Distillery's 16 week Java Web Development course. Please visit our github repository for more information on our project: <a href="https://github.com/braidenm/FinalProject" ><strong>Repository</strong></a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <br>
      <br>
      <h3 id="about">Created By:</h3>
      <br>
      <br>
      <br>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4" >
    <img src="https://bit.ly/2EpE4tA" width="280" height="250">
    <br>
    <strong>Jimmy Fruchterman</strong>
    <br>
    <span>DBA </span>
    </div>
    <div class="col-sm-4">
    <img src="https://media.licdn.com/dms/image/C4D03AQGcCoOzma4n9w/profile-displayphoto-shrink_200_200/0?e=1556150400&v=beta&t=CLU4iZTNNWl5MwKVwlvvRshDhmqmJzaF0jW_OAtJQUc" width="250" height="250">
    <br>
    <strong>Braiden Miller</strong>
    <br>
    <span>Repository Owner</span>
    </div>
    <div class="col-sm-4">
    <img src="https://scontent.fapa1-2.fna.fbcdn.net/v/t31.0-8/14249694_10104152287674105_1125345525834559709_o.jpg?_nc_cat=102&_nc_ht=scontent.fapa1-2.fna&oh=d77d961671c82b2210bc632c4bd6bc35&oe=5CEEB88A" width="250" height="250">
    <br>
    <strong>Michael Murrell</strong>
    <br>
    <span>Scrum Master </span>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
